/* ~~~~~~~ INIT. anim-btn ~~~~~~~ */

.anim-btn {
    position: relative;
    padding: 1.4rem 4.2rem;
    padding-right: 3.1rem;
    font-size: 1.4rem;
    color: var(--inv);
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    user-select: none;
}

.anim-btn:before, .anim-btn:after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;
}

.anim-btn:hover {
    color: var(--def);
    transition-delay: .6s;
}

.anim-btn:hover:before {
    transition-delay: 0s;
}

.anim-btn:hover:after {
    background: var(--inv);
    transition-delay: .4s;
}

/* From Top */

.anim-btn-from-top:before,
.anim-btn-from-top:after {
    left: 0;
    height: 0;
    width: 100%;
}

.anim-btn-from-top:before {
    bottom: 0;
    border: 1px solid var(--inv);
    border-top: 0;
    border-bottom: 0;
}

.anim-btn-from-top:after {
    top: 0;
    height: 0;
}

.anim-btn-from-top:hover:before,
.anim-btn-from-top:hover:after {
    height: 100%;
}

/* From Left */

.anim-btn-from-left:before,
.anim-btn-from-left:after {
    top: 0;
    width: 0;
    height: 100%;
}

.anim-btn-from-left:before {
    right: 0;
    border: 1px solid var(--inv);
    border-left: 0;
    border-right: 0;
}

.anim-btn-from-left:after {
    left: 0;
}

.anim-btn-from-left:hover:before,
.anim-btn-from-left:hover:after {
    width: 100%;
}

/* From Right */

.anim-btn-from-right:before,
.anim-btn-from-right:after {
    top: 0;
    width: 0;
    height: 100%;
}

.anim-btn-from-right:before {
    left: 0;
    border: 1px solid var(--inv);
    border-left: 0;
    border-right: 0;
}

.anim-btn-from-right:after {
    right: 0;
}

.anim-btn-from-right:hover:before,
.anim-btn-from-right:hover:after {
    width: 100%;
}

/* From Middle */

.anim-btn-from-middle:before {
    top: 0;
    left: 50%;
    height: 100%;
    width: 0;
    border: 1px solid var(--inv);
    border-left: 0;
    border-right: 0;
}

.anim-btn-from-middle:after {
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: var(--inv);
}

.anim-btn-from-middle:hover:before {
    left: 0;
    width: 100%;
}

.anim-btn-from-middle:hover:after {
    top: 0;
    height: 100%;
}

/* From Bottom */

.anim-btn-from-bottom:before,
.anim-btn-from-bottom:after {
    left: 0;
    height: 0;
    width: 100%;
}

.anim-btn-from-bottom:before {
    top: 0;
    border: 1px solid var(--inv);
    border-top: 0;
    border-bottom: 0;
}

.anim-btn-from-bottom:after {
    bottom: 0;
    height: 0;
}

.anim-btn-from-bottom:hover:before,
.anim-btn-from-bottom:hover:after {
    height: 100%;
}


/* ~~~~~~~~~~~~ GLOBAL SETTINGS ~~~~~~~~~~~~ */

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    --def: #202020;
    --inv: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(-20deg, #151515 0%, #202020 100%);
}

.full-body {
    justify-content: center;
}

html {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

div {
    margin-bottom: 3rem;
}

div:last-child {
    margin-bottom: 0;
}