.img-fade-in {
    animation-duration: 1s;
    animation-name: img-fade-in-frames;
}

@keyframes img-fade-in-frames {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

a.progressive {
    position: relative;
    display: block;
    overflow: hidden;
    outline: none;
    flex: 400px;
    padding: 500px 0 0 0;
}

a.progressive img {
    display: block;
    position: absolute;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 0 none;
    border-radius: 20px;
}

a.progressive img.reveal {
    position: absolute;
    left: 0;
    top: 0;
    will-change: transform, opacity;
    animation: reveal 1s ease-out;
}

@keyframes reveal {
    0% {
        transform: scale(1.05);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}