/*
edited from
https://codepen.io/perry_nt/pen/eVboze
*/

/* ~~~~~~~ INIT. anim-btn ~~~~~~~ */

.anim-btn {
    position: relative;
    padding: 1.4rem 4.2rem;
    padding-right: 3.1rem;
    font-size: 1.1rem;
    color: var(--inv);
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    user-select: none;
}

.anim-btn:before, .anim-btn:after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;
}

.anim-btn:hover {
    color: var(--def);
    transition-delay: .3s;
}

.anim-btn:hover:before {
    transition-delay: 0s;
}

.anim-btn:hover:after {
    background: var(--inv);
    transition-delay: .2s;
}

/* From Top */

.anim-btn-from-top:before,
.anim-btn-from-top:after {
    left: 0;
    height: 0;
    width: 100%;
}

.anim-btn-from-top:before {
    bottom: 0;
    border: 1px solid var(--inv);
    border-top: 0;
    border-bottom: 0;
}

.anim-btn-from-top:after {
    top: 0;
    height: 0;
}

.anim-btn-from-top:hover:before,
.anim-btn-from-top:hover:after {
    height: 100%;
}

/* From Left */

.anim-btn-from-left:before,
.anim-btn-from-left:after {
    top: 0;
    width: 0;
    height: 100%;
}

.anim-btn-from-left:before {
    right: 0;
    border: 1px solid var(--inv);
    border-left: 0;
    border-right: 0;
}

.anim-btn-from-left:after {
    left: 0;
}

.anim-btn-from-left:hover:before,
.anim-btn-from-left:hover:after {
    width: 100%;
}

/* From Right */

.anim-btn-from-right:before,
.anim-btn-from-right:after {
    top: 0;
    width: 0;
    height: 100%;
}

.anim-btn-from-right:before {
    left: 0;
    border: 1px solid var(--inv);
    border-left: 0;
    border-right: 0;
}

.anim-btn-from-right:after {
    right: 0;
}

.anim-btn-from-right:hover:before,
.anim-btn-from-right:hover:after {
    width: 100%;
}

/* From Middle */

.anim-btn-from-middle:before {
    top: 0;
    left: 50%;
    height: 100%;
    width: 0;
    border: 1px solid var(--inv);
    border-left: 0;
    border-right: 0;
}

.anim-btn-from-middle:after {
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: var(--inv);
}

.anim-btn-from-middle:hover:before {
    left: 0;
    width: 100%;
}

.anim-btn-from-middle:hover:after {
    top: 0;
    height: 100%;
}

/* From Bottom */

.anim-btn-from-bottom:before,
.anim-btn-from-bottom:after {
    left: 0;
    height: 0;
    width: 100%;
}

.anim-btn-from-bottom:before {
    top: 0;
    border: 1px solid var(--inv);
    border-top: 0;
    border-bottom: 0;
}

.anim-btn-from-bottom:after {
    bottom: 0;
    height: 0;
}

.anim-btn-from-bottom:hover:before,
.anim-btn-from-bottom:hover:after {
    height: 100%;
}

/* ~~~~~~~~~~~~ BTN EDITS ~~~~~~~~~~~~ */

.anim-btn.anim-smaller {
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
    padding: 1rem 1rem;
    padding-right: 0.9rem;
}

.anim-btn.active {
    font-weight: bolder;
    color: #8bc34a !important;
    cursor: unset;
    transition: none;
    background: #252525;
}

.anim-btn.active:hover:before {
    background: none;
    border: none;
}

.anim-btn.active:hover:after {
    background: none;
    border: none;
}

/* ~~~~~~~~~~~~ GLOBAL SETTINGS ~~~~~~~~~~~~ */

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    --def: #202020;
    --inv: #fff;
    background-image: linear-gradient(-90deg, #141414 0%, #080808 20%, #080808 80%, #141414 100%);
}

.sidenav li>a {
    color: white;
}

.full-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

html {
    font-family: 'Montserrat', sans-serif;
}

div {
    margin-bottom: 3rem;
}

div:last-child {
    margin-bottom: 0;
}

.bold-serif {
    font-family: 'Cinzel', serif;
}

.sub-serif {
    font-family: 'Cormorant Garamond', serif;
}