/* ~~~~~~~~~~~~ GLOBAL SETTINGS ~~~~~~~~~~~~ */

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    --def: #202020;
    --inv: #fff;
    background-image: linear-gradient(-90deg, #141414 0%, #171717 20%, #171717 80%, #141414 100%);
}

.sidenav li > a {
    color: white;
}

.full-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

html {
    font-family: 'Montserrat', sans-serif;
}

div:last-child {
    margin-bottom: 0;
}

.bold-serif {
    font-family: 'Cinzel', serif;
}

.sub-serif {
    font-family: 'Cormorant Garamond', serif;
}

.sans-serif {
    font-family: 'Montserrat', sans-serif;
}

.img-fade-in {
    animation-duration: 1s;
    animation-name: img-fade-in-frames;
}

.top-right-lock {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.top-left-lock {
    position: absolute;
    left: 1rem;
    top: 1rem;
}

@keyframes img-fade-in-frames {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}